<html>
  <head>
    <h1>Numerical website root of equation</h1>
  </head>
  <body>
    <nav>
      <li><a routerLink="/cramer_rule">cramer rule</a></li>
      <li><a routerLink="/gauss">gauss elimination method</a></li>
      <li><a routerLink="/gaussj">gauss jordan method</a></li>
      <li><a routerLink="/LudecomposeComponent">lu decompositon method</a></li>
      <li><a routerLink="/cholesky">cholesky decomposition method</a></li>
      <li><a routerLink="/jacoby">jacoby iteration method </a></li>
      <li><a routerLink="/GuassseidalComponent">gauss-seidal iteratioon method</a></li>
      <li><a routerLink="/Conjugate">Conjugate Gradient  method</a></li>
    </nav>
      <router-outlet></router-outlet>
  </body>
</html>

