<html>
  <head>
    <h1>Numerical website Interpolation and extarpolation </h1>
  </head>
  <body>
    <nav>
      <li><a routerLink="/LinComponent">Linear Interpolation (Newton)</a></li>
      <li><a routerLink="/QinComponent">Quadratic Interpolation (Newton)</a></li>
      <li><a routerLink="/PinComponent">Polynomial Interpolation (Newton)</a></li>
      <!--<li><a routerLink="/LiLComponent Interpolation">Linear Interpolation (Lagrange)</a></li>-->
      <!--<li><a routerLink="/QiLComponent Interpolation">Quadratic Interpolation (Lagrange)</a></li>-->
    </nav>
      <router-outlet></router-outlet>
  </body>
</html>
